*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 35px;
}
p{
    font-size: 25px;
}
header{
    height: 64px;
    position: fixed;
    width: 100vw;
  
    z-index: 100;
    background-color: white;
    margin-top: 0;
}
#logo{
    margin-left:24px;
    line-height: 32px;
    display: inline-flex;
    float: left;
    padding: 16px 0;
    text-decoration: none;
    font-size: 25px;
}
#logo p{
    color:gray;
}
#logo strong{
    color:black;
}
#navbar{
    margin-right: 24px;
    font-size: 20px;
}
#navbar a{
    padding: 16px 8px;
    
    line-height: 32px;
    display: inline;
    float: right;
    text-decoration: none;
    color:black;

}
main{
    position: absolute;
}
/* first section*/

#start-learn {
margin-top: 64px;
    background-color:lightgrey;
    width:100vw;
    display: flex;
    
}
#start-learn #image {
    width: 60vw;
    margin: 32px 24px;
}
#image img{
    width: 100%;
    height:auto;
}
#banner {
    width: 40vw;
    display: block;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: auto 24px;
    color: rgb(99, 99, 99);
    
}
#banner h2{
    margin-bottom: 25px;
}

#banner .button {
    margin-top: 25px;
    background-color:rgb(99, 99, 99);
    padding:8px;
    width: 70%;
    color: white;
    text-align: center;
}
#banner a {
    text-decoration: none;
}


/* second section*/
#information {
  display: flex;
}
#info-main{
    margin: 32px 24px;
    width: 60%;

}
#info-main img {
    width:100%;
}
#info-main h2{
    padding: 32px 0;
    color: rgb(99, 99, 99);
    
}
#info-main p{
    padding-bottom: 32px;
    color: gray;
    font-weight: 300;
}
#info-sec{
    width: 40%;
    margin:32px 24px;
}
#info-sec .info{
   display:flex;
   border: 1px solid lightgrey;
    
}
#info-special, #exib-spec{
    background-color:#d8d8d8;
}
.info.img{
    width: 35%;
    height:auto;
}
.info .info-data {
display: block;
float: right;
width:65%;
margin: auto 24px;

}
.info .info-data p , #exib-spec p{
    padding: 10px 0;
    color: rgb(116, 116, 116);
    font-weight: 300;
}
.info-data h3, #cont h3{
    color: rgb(99, 99, 99);
    font-weight: 400;
}
.info .info-data a {
    font-size: 25px;
    text-decoration: none;
    color: #55bdeb;
    font-weight: 300;
}

/* third section*/

#courses{
    background-color: #eaebec;
text-align: center;
    width: 100vw;
   

}
#courses h2 {
    margin: 32px;
    color: rgb(99, 99, 99)
}
#courses-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 32px;
    text-align: left;
    padding: 32px 72px;
}
.course{
    background-color: white;
    padding-bottom: 24px;
}
.course img {
    width:100%;
height:auto;
}
.course h3, .exib-content h3{
    padding: 16px;
    color: rgb(99, 99, 99);
    font-weight: 400;
}
.course p, .exib-content p{
    padding: 8px 16px;
    color: darkgray;
    font-weight: 300;
}
/* fourth section*/

#exibition {
    background-color:#f3f5f5;
    max-width: 100%;
    display: flex;
    padding: 32px 24px;
}
#exib-left{
width: 60%;
margin: 32px 24px;

}

#exib-right {
    width: 40%;
    float: right;
    margin: 32px 24px;
}
.exib{
    display: flex;
}
.exib-img {
    width: 35%;
height:auto;
padding: 0 16px;
}
.exib-img img{
    width:100%;
    height: auto;
}
.exib-content {
    float:right;
    width: 65%;
    
}
 #exib-spec p{
background-color:
}
#cont {
    margin-top: 24px;
}

#cont p {
    padding: 8px 0 32px 0;
    color: rgb(116, 116, 116);
    font-weight: 300;
}
hr {
    color: #eaebec;
}
/* footer */
#footer{
    width:100%;
    background-color:#f3f5f5;
    padding-bottom: 70px;
}
#footer p {
    
    float: left;
    padding: 16px 24px;
    color: rgb(116, 116, 116);
    font-weight: 300;
}
#footer div {
    
    padding: 16px 24px;
    float:right;
    justify-content: space-between;

}
#footer a {
    color: rgb(116, 116, 116);
    text-decoration: none;
}